{% extends 'main/layout.html' %}
{% block body %}
    <div class="container">
        {% for item in items %}
        <div class="item">
            <p>{{ item.name }}</p>
            <button value="{{item.id}}" onclick="getInfo(this)">get_more_info</button>
            <form action="/buy">
                <input type="submit" value="buy">
            </form>
            <p></p>
        </div>
        {% endfor %}
    </div>
<script>
    function getInfo(element)
    {
        id = parseInt(element.getAttribute('value'));
        fetch(`http://127.0.0.1:8000/getData/${id}`,{
        mode: 'no-cors',
        credentials: 'same-origin',
        method: 'GET',
        }).then(response => response.json())
        .then(data => {
            let s = `<p> price : ${data.price} <\p> <p> category : ${data.category} </p> <p>quantity : ${data.quantity}</p>`
            element.parentNode.lastElementChild.innerHTML = s   
        })
    }
</script>
{% endblock %}
